:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

 .title {
  z-index: 1;
   background-color: lightslategray;
   border-bottom: 3px solid #FF6E40;
}

span {
  font-size: 25px;
}

span:hover {
  cursor: pointer;
}

h1 {
  color: white;
}
