<div class="wrapper">
  <div class="home-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Star Wars API</h1>
        </mat-card-title>
        <mat-card-subtitle>All things Star Wars</mat-card-subtitle>
      </mat-card-header>
      <img src="https://picsum.photos/700/300/?image=967"/>
      <mat-card-actions>
        <button mat-raised-button
                routerLink="/planets">Planets</button>
        <button mat-raised-button
                routerLink="/">Spaceships</button>
        <button mat-raised-button
                routerLink="/">Vehicles</button>
        <button mat-raised-button
                routerLink="/">People</button>
        <button mat-raised-button
                routerLink="/">Films</button>
        <button mat-raised-button
                routerLink="/">Species</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
