<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Spaceship Info</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span><h3>Name: {{selectedSpaceship.name}}</h3></span>
    <span><h3>Model: {{selectedSpaceship.model}}</h3></span>
    <span><h3>Manufacturer: {{selectedSpaceship.manufacturer}}</h3></span>
    <span><h3>Length: {{selectedSpaceship.length}}</h3></span>
    <span><h3>Crew: {{selectedSpaceship.crew}}</h3></span>
    <span><h3>Passengers: {{selectedSpaceship.passengers}}</h3></span>
  </mat-card-content>
</mat-card>
